@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar-brand{
    font-size: 25px;
}

img{
    width: 45px;
    height: 45px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}