
input[type="radio"] {
  display: none;
}

label {
  font: normal 35px courier !important;
  color: grey;
}

.etiqueta{
  font-size:22px;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;

}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}


