
<div class="container" align="middle">

    <div class="row">
        <div class="col-sm-3">
                <br>
                <img class="anuncio1" id="imagen3" src="https://media.giphy.com/media/3ohhwfsweRaKsZo17W/giphy.gif">
        </div>
            <div class="col-sm-6">
                    <div class="container1" id="container1">
                            <br>
                            <h1 class="etiqueta" id="etiqueta">CALIFICACIÓN DEL VIDEO</h1>
                            <form>
                                <ul *ngFor="let video of videos | async">
                                    <li>
                                        <strong>Puntaje: {{video.data.calificacion}}</strong>
                                        <br>
                                        <strong>Votos: {{video.data.cantidadVotos}}</strong>
                                    </li>
                                  </ul>
                              </form>
                          </div>
                        
                        <div class="container" id ="container">
                            <h1 class="etiqueta" id ="id1" align="middle"><br><br>Dale una calificación: </h1>
                              <form>
                                  <p class="clasificacion" align="middle">
                                    <input id="radio1" type="radio" name="estrellas" value="5"  >
                                    <label for="radio1">★</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">★</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">★</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">★</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">★</label>
                                  </p>
                        
                                  <p class="submitButton" align="middle">
                                      <a (click)="enviarCalificacion()" class="myButton">Enviar Calificacion</a> 
                                   </p>
    
                                <br><br>
                                </form>
                          </div>
                    
                        <ul *ngFor="let video of videos | async">
                          <li>
                              <input type="text" id="calificacion" value={{video.data.calificacion}} hidden >
                              <input type="text" id="cantidadVotos" value={{video.data.cantidadVotos}} hidden >
    
                          </li>
                        </ul>  
                 </div>
        <div class="col-sm-3">
             <br>
             <img class="anuncio1" id="imagen3" src="https://media.giphy.com/media/3o6Ztl7RvfwCp9mqhW/giphy.gif">
        </div>
    </div>
    </div>