<br>
  <h1 style="text-align: center">
     ¡Sube tu reto!
  </h1>
  <div class="row">
     <div class="col-md-6 mx-auto mt-5">
        <div class="card">
           <div class="card-body">
              <div class="form-group">
                 <label for="text">Nombre del reto:</label>
                 <input id="nombre_reto_input" type="text" class="form-control">
              </div>
              <div class="form-group">
                 <label for="text">ID: </label>
                 <input placeholder={{idReto}} type="text" class="form-control" disabled>
              </div>
              <div class="form-group">
                  <label for="text">Descripción:</label>
                  <input id="descripcion_input" type="text" class="form-control">
               </div>
              <div class="form-group">
                 <b><label for="email">Sube tu miniatura:</label></b>
                 <file-upload></file-upload>
              </div>
              <br>
              <input type="submit" value="SUBIR" class="btn btn-primary btn-block btn-lg" (click)="subirReto()">
           </div>
        </div>
     </div>
  </div>
  <br>