<vg-player>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
  
    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
  
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
  
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
  
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
  
        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
  
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>
  
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
        <source src="https://firebasestorage.googleapis.com/v0/b/metube-120e9.appspot.com/o/Coca%20Cola%20-%20Brotherly%20Love%20_%20Coke%20_%20Avicii%20Hey%20Brother.mp4?alt=media&token=9bf40bb3-9cb2-4147-bbe6-9297a28ddb8f" type="video/mp4">
    </video>
  </vg-player>  