.dropzone { 
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 600px;
    height: 400px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 0 auto;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}

.progreso{
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    width: 600px;
    justify-content: center;
    flex-direction: column; 
    border-radius: 5px;
    margin: 0 auto;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}