<div class="carrusel">
    <ngb-carousel class="carousel">
          <ng-template ngbSlide>
             <img src="https://firebasestorage.googleapis.com/v0/b/metube-120e9.appspot.com/o/metube.jpg?alt=media&token=c5419a11-f9ec-4b57-9a8b-03428fc21259" alt="Random first slide">
             <div class="carousel-caption">
             </div>
          </ng-template>
          <ng-template ngbSlide>
             <img src="https://firebasestorage.googleapis.com/v0/b/metube-120e9.appspot.com/o/imagen2.JPG?alt=media&token=b00d67a9-7010-453b-90d9-6f79d9c93956"  alt="Random second slide">
             <div class="carousel-caption">
             </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="https://firebasestorage.googleapis.com/v0/b/metube-120e9.appspot.com/o/fondo2.png?alt=media&token=14374954-b685-43d9-86f7-02a9a07a1129">
             <div class="carousel-caption">
             </div>
          </ng-template>
       </ngb-carousel>
    <div class="wrapper">
        <br>
        <button pageScroll href="#awesomePart" class="btn" role="button">Retos</button>
    </div>
    <h2 id="awesomePart"></h2>
</div>
<app-interfaz-retos></app-interfaz-retos>