<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">

        <button (click) = btnClick1();>Dejate Amar - Yandel<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30738598_10209343768190623_587079908618928128_n.jpg?_nc_cat=0&oh=2485489d75e267cff73d629fd2a4ed0f&oe=5B6644BA" 
         width="320" height="240" title="Dejate Amar - Yandel" align=LEFT ></button>
         

         <button (click) = btnClick2(); >If i lose myself - One Republic<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30726506_10209343770390678_7439779604677525504_n.jpg?_nc_cat=0&oh=b1de116bdb7e4c443a8c0d1dadbac6fc&oe=5B68BE22"
         width="320" height="240" title="If i lose myself - One Republic" align=MIDDLE></button>
      
         <button (click) = btnClick3(); >Marry You - Bruno Mars<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30741845_10209343768310626_602073068218613760_n.jpg?_nc_cat=0&oh=f84776a9522cbe660a578feff1b2f89b&oe=5B64AB00"
         width="320" height="240" title="Marry You - Bruno Mars" align=RIGHT></button>
        <br/>
        <br/>
        <br/>
        <button (click) = btnClick4(); >We can't Stop - Miley Cyrus<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30740834_10209343772470730_5546096401810718720_n.jpg?_nc_cat=0&oh=5ef19093a7861e7b394b77ea7712bd01&oe=5B636A1E" 
         width="320" height="240" title="We can't Stop - Miley Cyrus" align=LEFT ></button>
       
         <button  (click) = btnClick5();>Best Song Ever - One Direction<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31064289_10209343770470680_807789683730808832_n.jpg?_nc_cat=0&oh=d15248a33083c8acaa2f49fe7fce9f96&oe=5B54E9D9"
         width="320" height="240" title="Best Song Ever - One Direction" align=MIDDLE></button>
      
        <button  (click) = btnClick6();>Payphone - Maroon 5<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30714121_10209343773670760_1334543959178870784_n.jpg?_nc_cat=0&oh=2c9e57e4e1f456a5fb24748419e1fdcf&oe=5B69BBA8"
         width="320" height="240" title="Payphone - Maroon 5" align=RIGHT></button>
        <br/>
        <br/>
        <br/>
        <button (click) = btnClick7(); >Single Ladies - Beyonce<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31081455_10209343771150697_6640736372736917504_n.jpg?_nc_cat=0&oh=df5a75ed8a7a22c9deba0089bd70ffc7&oe=5B6C8F1C" 
         width="320" height="240" title="Single Ladies - Beyonce" align=LEFT ></button>
       
         <button (click) = btnClick8(); >Roar - Katy Perry<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30743540_10209343772550732_246498725852086272_n.jpg?_nc_cat=0&oh=a4e77689760118f5b3907eb211d11e25&oe=5B53436E"
         width="320" height="240" title="Roar - Katy Perry" align=MIDDLE></button>
      
         <button (click) = btnClick9(); >Work Bitch - Britney Spears<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31091909_10209343768790638_657378558930321408_n.jpg?_nc_cat=0&oh=d19fde3c164e9693e30927037f5feec4&oe=5B6203AB"
         width="320" height="240" title="Work Bitch - Britney Spears" align=RIGHT></button>
         <br/>
        <br/>
        <br/>
        <button (click) = btnClick10(); >This Is What it feels like - Armin Van Buuren<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31052297_10209343768710636_6844420167343013888_n.jpg?_nc_cat=0&oh=41666dbe42f42d05c1cc06b8baa2c39f&oe=5B6FC99C" 
         width="320" height="240" title="This Is What it feels like - Armin Van Buuren" align=LEFT ></button>
       
         <button (click) = btnClick11(); >Blurred Lines - Robin Thicke<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/31059511_10209343769470655_7805002299016740864_n.jpg?_nc_cat=0&oh=b85f3cf85c1a5de2dae9a4154d76fa8d&oe=5B690C3C"
         width="320" height="240" title="Blurred Lines - Robin Thicke" align=MIDDLE></button>
      
         <button (click) = btnClick12(); >Mmm Yeah - Austin Mahone<BR/><input type=image  src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30710876_10209343771230699_8899235897317261312_n.jpg?_nc_cat=0&oh=abc0f55a0aa172701a96bdb9f1eef0bd&oe=5B5FE140"
         width="320" height="240" title="Mmm Yeah - Austin Mahone" align=RIGHT></button>
         <br/>
         <br/>
         <br/>
         <button (click) = btnClick13();>This Is Love - Will.I.Am<BR/><input type=image src="https://scontent.fcbb1-1.fna.fbcdn.net/v/t1.0-9/30762954_10209343769630659_6785457009467588608_n.jpg?_nc_cat=0&oh=ecf5fcd7c8d3e7b731c362fea5109044&oe=5B616552" 
          width="320" height="240" title="This Is Love - Will.I.Am" align=LEFT ></button>
          
      
</div>