<div class="container" *ngIf="login">
    <br>
    <br>
    <h1 class="etiqueta" align=MIDDLE>BIENVENIDO A TU PERFIL</h1>
    <br>
    <div class="perfil" align=MIDDLE>
       <img src={{urlPerfil}} width="400px" height="400px" class="rounded-circle">
       <div class="rank-label-container">
          <span class="label label-default rank-label">{{nombreUsuario}}</span>
       </div>
    </div>
    <div class="form-group" align=middle>
       <br>
       <label for="email" style= "color:gray">Correo Registrado:</label>
       <div class="col-sm-10"></div>
       <p class="email"style= "color:white">{{email}}</p>
    </div>
    <div class="form-group" align=middle>
       <label for="email"style= "color:gray">Número videos subidos:</label>
       <div class="col-sm-10"></div>
       <p class="form-control-static"style= "color:white">{{cantidadVideos}}</p>
    </div>
    <div class="container">
       <p style= "Color:gray">Videos Subidos:</p>
       <table class="table table-hover">
          <thead>
             <tr>
                <th style= "Color:gray">Categoría</th>
                <th style= "Color:gray; text-align: center">Calificación</th>
                <th style= "Color:gray">¡Vea el video!</th>
                <th style= "Color:gray">Opciones</th>
             </tr>
          </thead>
          <tbody *ngFor="let video of videosObs | async">
             <tr>
                <td style= "Color:white" [(ngModel)]="video.codigoReto" name="obtenerNombre" ngDefaultControl>{{getNombreReto(video.codigoReto)}}</td>
                <td style= "Color:white; text-align: center">{{video.calificacion}}</td>
                <td style= "Color:white"><button style= "Color:rgb(245, 245, 245) ; background-color:rgb(39, 173, 51)" type="button"  [(ngModel)]="video.codigoVideo" name="botonVideo" ngDefaultControl (click)="verVideo(video.codigoVideo)" class="btn">Mira el video</button></td>
                <td style= "Color:white"><button style= "Color:rgb(245, 245, 245) ; background-color:brown" type="button" href="**Link del Video Aca**" class="btn">Eliminar video</button></td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>