<div style="font-family: Arial, Helvetica, sans-serif">
  <div style="text-align:center">
    <div style="color: aliceblue">
        <form action="/action_page.ts" name="Registrar">
        <br>
        <h1 style="font-size: 30px">{{ title }}</h1> 
        <br>
          Usuario: <input type= "text" size="31" name="usuario" id="usuario"><br><br>
          Correo electrónico: <input type= "text" size="32" name="email" id="email" placeholder="tucorreo@tudominio.com"><br><br>
          Contraseña: <input type= "password" size="38" name="contraseña" id="contraseña"><br><br>
          Validación de contraseña: <input type= "password" size="26" name="validacion_contraseña" id="validacion_contraseña"><br><br>
          Género: <input type= "radio" id="genero_masculino" name="sexo" value="masculino">
            <label for="genero_masculino">Masculino&nbsp;</label> 
            <input type= "radio" id="genero_femenino" name="sexo" value="femenino">
            <label for="genero_femenino">Femenino&nbsp;</label>
            <input type= "radio" id="genero_otro" name="sexo" value="alterno">
            <label for="genero_alterno">Otro</label>
          <br><br>
          Fecha de nacimiento: <input type="date" name="fecha_nacimiento" id="fecha_nacimiento"><br><br>
          <button (click)="registrar()" type="button">Registrar usuario</button>
        </form>
    </div>
    <br>
  </div>
</div>